.normal {
  border: 2px solid var(--main-color);
  background-color: transparent;
}

.normal:hover {
  color: white;
  background: green;
  border: 2px solid green;
}

.red {
  border: 2px solid crimson;
  color: crimson;
}

.red:hover {
  background: crimson;
  color: white;
}

.submit {
  border: 2px solid var(--main-color);
  background-color: transparent;
}

.submit:hover {
  color: white;
  background: darkblue;
  color: white;
}
