.header {
  margin-bottom: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.form input[type="text"] {
  width: 240px;
}

.form input[type="checkbox"] {
  margin-right: 8px;
  margin-bottom: 20px;
}
