.welcome {
  margin-bottom: 30px;
}

.controls {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.controls > * {
  padding: 20px;
  width: 50%;
  border: 1px solid var(--main-color);
  border-radius: 16px;
}

.error,
.loading {
  display: block;
  text-align: center;
  margin: 20px;
}

.error {
  color: crimson;
  font-weight: 500;
}
