.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.box {
  display: flex;
  gap: 20px;
}

.box input {
  width: 240px;
}

.wrapper {
  display: flex;
  gap: 20px;
}
