:root {
  font-family: Arial, sans-serif;
  font-weight: 400;
  --main-color: #495867;
}

* {
  margin: 0;
  padding: 0;
  transition: 0.25s ease-out;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  text-align: center;
}

input {
  outline: none;
  border: 2px solid var(--main-color);
  border-radius: 8px;
  padding: 4px 8px;
  font-size: inherit;
  color: inherit;
}

input:disabled {
  background-color: rgba(128, 128, 128, 0.192);
}

input:focus {
  border-color: gold;
}

button {
  border-radius: 8px;
  padding: 4px 8px;
  outline: 0;
  cursor: pointer;
  font-size: inherit;
  color: inherit;
}

body {
  padding: 40px;
  min-width: 820px;
}
