:root {
  font-family: Arial, sans-serif;
  font-weight: 400;
  --main-color: #495867;
}

* {
  margin: 0;
  padding: 0;
  transition: 0.25s ease-out;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  text-align: center;
}

button {
  outline: 0;
  cursor: pointer;
  font-size: inherit;
  color: inherit;
}

body {
  padding: 40px;
}
